
<!-----------------middle1------------------>


<div class="ny_location_box"><p><b>{if $lan=='en'}Position：{else /}位置：{/if}</b><a href="{:url('front/home/index')}" >{if $lan=='en'}Home{else /}首页{/if}</a> &gt; {switch $controller }
    {case Profile}{if $lan=='en'}Company Profile{else /}公司介绍{/if}{/case}
    {case Brands}{if $lan=='en'}Brands{else /}代理品牌{/if}{/case}
    {case Product}{if $lan=='en'}Product{else /}产品中心{/if}{/case}
    {case Contact}{if $lan=='en'}Contact Us{else /}联系我们{/if}{/case}
    {default /}..
    {/switch}&gt; </p></div>

<div class="ny_mid_con">

    <div class="left_product">
        <div  class="inc_right_20">
            <div  class="inc_right_1_1"><h2 style="margin: 0">{if $lan=='en'}Company Profile{else /}公司介绍{/if}</h2></div>
            <div  class="inc_right_20_2" style="font-size:14px;">
                <ul style="padding-left:0px;">
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#gsjj">
                        {if $lan=='en'}Company Profile{else /}公司介绍{/if}</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#jycl">
                        {if $lan=='en'}Business Strategy{else /}经营策略{/if}</a></li>
                    <li> <img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#zysj">
                        {if $lan=='en'}Important Notes{else /}重要记事{/if}</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/brands/index')}">
                        {if $lan=='en'}Brands{else /}代理品牌{/if}</a></li>
                </ul>


            </div>
        </div>

        <div  class="right_line"></div>

        <div  class="inc_right_1">

            <div  class="inc_right_1_1"><h2 style="margin: 0">{if $lan=='en'}Brands{else /}代理品牌{/if}</h2></div>
            <div  class="inc_right_1_2" style="font-size:14px;">
                <ul style="padding-left:15px;">
                    <li style="list-style-type:none;">{if $lan=='en'}Tel: 0755-83957712{else /}电话 0755-83957712 {/if}</li>
                    <li style="list-style-type:none;">{if $lan=='en'}Fax: 0755-83957713{else /}传真 0755-83957713 {/if} </li>
                    <li style="list-style-type:none;">{if $lan=='en'}Phone: 13728653331{else /}手机 13728653331 {/if}</li>
                    <li style="list-style-type:none;">QQ 163790 </li>
                </ul>
            </div>

        </div>



    </div>


    <div class="right_box">
        <div class="top_box"></div>
        <div class="main_box">
            <!------------------------>
            <div class="contact_box">

                <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                    <tr>
                        <td height="54" align="center" valign="middle"><span  style="font-size:18px; font-weight:bold;">{if $lan=='en'}Contact Us{else /}联系我们{/if}</span>
                            <hr style=" color:#999999; margin-top:10px;"></td>
                    </tr>
                    <tr>
                        <td height="253" align="left" valign="top"  ><div style="line-height:200%; font-size:14px;font-family:"微软雅黑","宋体"; ">
                            <table border="0" cellspacing="0" cellpadding="0" width="608" align="center">
                                <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><table border="0" cellspacing="0" cellpadding="0" width="550" align="center">
                                        <tbody>
                                        <tr>
                                            <td><div style="line-height:200%; font-size:16px; color:#000000">{if $lan=='en'}Norton Electronic Technology{else /}诺顿电子科技有限公司{/if}<br>
                                                <br>
                                                {if $lan=='en'}Shenzhen Branch{else /}深圳分部{/if}：<br>
                                                {if $lan=='en'}Tel{else /}电话{/if}：0755-83957712<br>
                                                {if $lan=='en'}Fax{else /}传真{/if}：0755-83957713<br>
                                                {if $lan=='en'}Phone{else /}手机{/if}：13728653331<br>
                                                {if $lan=='en'}Mail{else /}邮箱{/if}：163790@qq.com  <br>
                                                QQ：163790<br>
                                                SKYPE：hkkntew<br>
                                                <br>
                                                {if $lan=='en'}Hong Kong Branch{else /}香港分部{/if}：<br>
                                                {if $lan=='en'}Phone{else /}电话{/if}：00852-30789990<br>
                                            </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table></td>
                                </tr>
                                </tbody>
                            </table>
            </div></td>
            </tr>
            </table>

        </div>
        <!------------------------>
    </div>
    <div class="foot_box"></div>
</div>

</div>


<!-----------------middle1------------------>

