
<div class="ny_location_box"><p><b>位置：</b><a href="index.html" >首页</a> &gt; 选型指南&gt; </p></div>

<div class="ny_mid_con">

    <div class="left_product">
        <div  class="inc_right_20">
            <div  class="inc_right_20_1"></div>
            <div  class="inc_right_20_2" style="font-size:14px;">
                <ul style="padding-left:0px;">
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="gsjs.html#gsjj">公司简介</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="gsjs.html#jycl">经营策略</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="gsxx.html">公司形象</a></li>
                    <li> <img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="gsjs.html#zysj">重要记事</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="dlpp.html">代理品牌</a></li>
                </ul>


            </div>
        </div>

        <div  class="right_line"></div>

        <div  class="inc_right_1">
            <div  class="inc_right_1_2" style="font-size:14px;">
                <ul style="padding-left:15px;">
                    <li style="list-style-type:none;">总公司：010-62102329</li>
                    <li style="list-style-type:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;010-62102915</li>
                    <li style="list-style-type:none;">华北北京办 010-62102329</li>
                    <li style="list-style-type:none;">华东杭州办 0571-89908170 </li>
                    <li style="list-style-type:none;">华南深圳办 0755-82812290 </li>
                    <li style="list-style-type:none;">香港办 00852-23423880 </li>
                    <li style="list-style-type:none;"> 恒昌亚怡销售采用就近原则</li>
                </ul>
            </div>

        </div>



    </div>


    <div class="right_box">
        <div class="top_box"></div>
        <div class="main_box">
            <!------------------------>
            <div class="contact_box">

            </div>

        </div>
        <!------------------------>
    </div>
    <div class="foot_box"></div>
</div>

</div>