





    <!-----------------middle1------------------>

    <div class="h_mid_con1" style="margin-bottom:20px;border-top: 1px solid #eeeeee;">

        <div class="left_box">

            <div class="right_con">


                <div class="news_rollBox">
                    <div class="h_Box" id="ISL_Cont_1" style="width: 550px; overflow: hidden;">


                        <div style="overflow: hidden; zoom: 1;">
                            <div style="float: left; padding-left:10px;"><a href="gsxx.html">
                                <img src="/static/assets/front/images/gstp.jpg" width="500px" height="300px"></a>
                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>


        <div class="right_box">
            <div class="h_typename"><a href="{:url('front/profile/index')}"><b style="font-size:17px; font-weight:bold;">{if $lan=='en'}Company Profile{else /}公司介绍{/if}</b><i></i><em></em></a></div>
            <div class="h_con" style="line-height:190%; margin-top:10px; font-size:15px">
                {if $lan=='en'}Norton electronicLarge stocks have an independent professional management of the plant throughout the world since the series. After many years of efforts, with many European and American dealers and OEM established a long-term stable relations of cooperation. We have credibility as the lifeline for the company and dedication to customer service.
                {else /}
                诺顿电子股份有限公司自成立以来，在全球范围内拥有独立的专业管理工厂。经过多年的努力，与众多欧美经销商和OEM建立了长期稳定的合作关系。我们以信誉为生命线，竭诚为客户服务
                {/if}
                <br>
                {if $lan=='en'}Tel: 0755-83957712{else /}电话 0755-83957712 {/if}<br>
                {if $lan=='en'}Fax: 0755-83957713{else /}传真 0755-83957713 {/if}<br>
                {if $lan=='en'}Phone: 13728653331{else /}手机 13728653331 {/if}<br>
                QQ: 163790
                <br>
            </div>
        </div>

    </div>

    <div class="h_mid_con0" style="background:url(/static/assets/front/images/65.jpg) no-repeat fixed center center; margin-top:15px; width:1100px; margin:0 auto">
        <style type="text/css">

            .h_mid_con0{ margin:0; padding:0;font-size: 14px;}
            .h_mid_con0 ul,li{ list-style:none}  img{ border:0}  .dp{ display:block}
            .tc{ text-align:center}  .fl{ float:left} .fr{ float:right}
            .clear{clear:both;}   .clearfix:after{content:"."; display:block; visibility:hidden; height:0; clear:both}
            .main-page{margin:0 auto;width:1100px}
            .main-page .left{ padding-right: 10px; padding-left:15px; border-right: 1px #fff solid; margin-top:40px}
            .main-page .left, .main-page .right{float:left;}
            .main-page .nav-back{height:300px;}
            .main-page .nav{position:relative;margin-top:-300px;width:132px;text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;}
            .main-page .nav div{height:47px;line-height:47px; margin-bottom: 8px; border-radius: 2px; cursor: pointer;font-size:14px;}
            .main-page .nav div.on{background:#3091f2; }
            .main-page .right{width:887px;height:320px;margin-left:5px;}
            .main-page .content{position:relative; width:887px; height:320px; overflow:hidden;}
            .main-page .content .con-ggh{ width:887px; height:320px;}

            .con-ggh ul{ padding-top:20px; display:block}
            .con-ggh ul li{ padding-top:20px; margin-right:20px; float:left}
            .list-pic{ background-color: rgba(255,255,255,0.3); padding: 5px; width: 130px; height: 50px; border: 1px solid #b9babe;}
            .list-pic img{ width:130px; height:50px; display:block}
            .con-ggh .item-name{ padding:0px 0; height: 15px; width: 150px; font-size: 14px; text-align: center; color: #fff; line-height: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
            .b-intro{ margin-top:20px}
            .b-intro span{ font-size:24px; margin-bottom:12px; color:#fff}
            .b-intro p{ width:545px; height:45px; line-height:24px; overflow:hidden; color:#fff; font-size:14px}
            .ck-m{ width:123px; height:36px; line-height:36px; border:1px #fff solid; margin-top:25px}
            .zcinfo{ width:900px; margin-top:-10px}
            .ptpic-dl,.ptpic-dl img{ width:354px; height:690px}
            .ptpic-dl{ margin-top:90px}
        </style>

        <div class="main-page">
            <div class="left">
                <div class="nav-back"></div>
                <div class="nav">
                    <div class="on">{if $lan=='en'}Brands{else /}代理品牌{/if}</div>

                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="con-ggh">
                        <div class="zcinfo fl">
                            <ul class="clearfix">


                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/1.jpg" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/2.jpg" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/3.gif" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/4.gif" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/5.gif" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/6.gif" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/7.gif" /></div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/8.gif" /></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('front/brands/index')}">
                                        <div class="list-pic"><img alt="" src="/static/assets/front/images/brands/9.jpg" /></div>
                                    </a>
                                </li>


                            </ul>

                        </div>

                    </div>





                </div>
            </div>
            <div class="clear"></div>
        </div>


        <script type="text/javascript" src="/static/assets/front/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
            $(".main-page .nav div").mouseenter(function () {
                var $this = $(this);
                var index = $this.index();
            }).mouseleave(function () {
                var $this = $(this);
                var index = $this.index();
            }).click(function () {
                var $this = $(this);
                var index = $this.index();
                var l = -(index * 400);
                $(".main-page .nav div").removeClass("on");
                $(".main-page .nav div").eq(index).addClass("on");
                $(".main-page .content .con-ggh:eq(0)").stop().animate({ "margin-top": l }, 400);
            });
        </script>

    </div>

    <!-----------------middle1------------------>

    <div class="h_mid_con200">
        <div class="main_box" >



            <div style=" width:1100px; height:320px;margin:0 auto;">
                <img src="/static/assets/front/images/fwrx.jpg">
            </div>

        </div>




    </div>



</div>
</div>
<!-----------------middle2------------------>

<!-----------------middle2------------------>



