
<!-----------------middle1------------------>


<div class="ny_location_box"><p><b>{if $lan=='en'}Position：{else /}位置：{/if}</b><a href="{:url('front/home/index')}" >{if $lan=='en'}Home{else /}首页{/if}</a> &gt; {switch $controller }
    {case Profile}{if $lan=='en'}Company Profile{else /}公司介绍{/if}{/case}
    {case Brands}{if $lan=='en'}Brands{else /}代理品牌{/if}{/case}
    {case Product}{if $lan=='en'}Product{else /}产品中心{/if}{/case}
    {case Contact}{if $lan=='en'}Contact Us{else /}联系我们{/if}{/case}
    {default /}..
    {/switch}&gt; </p></div>

<div class="ny_mid_con">

    <div class="left_product">
        <div  class="inc_right_20">
            <div  class="inc_right_1_1"><h2 style="margin: 0">{if $lan=='en'}Company Profile{else /}公司介绍{/if}</h2></div>
            <div  class="inc_right_20_2" style="font-size:14px;">
                <ul style="padding-left:0px;">
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#gsjj">
                        {if $lan=='en'}Company Profile{else /}公司介绍{/if}</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#jycl">
                        {if $lan=='en'}Business Strategy{else /}经营策略{/if}</a></li>
                    <li> <img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/profile/index')}#zysj">
                        {if $lan=='en'}Important Notes{else /}重要记事{/if}</a></li>
                    <li><img src="/static/assets/front/images/bg2.jpg" width="5" height="9" /> &nbsp;&nbsp;&nbsp;<a href="{:url('front/brands/index')}">
                        {if $lan=='en'}Brands{else /}代理品牌{/if}</a></li>
                </ul>


            </div>
        </div>

        <div  class="right_line"></div>

        <div  class="inc_right_1">

            <div  class="inc_right_1_1"><h2 style="margin: 0">{if $lan=='en'}Brands{else /}代理品牌{/if}</h2></div>
            <div  class="inc_right_1_2" style="font-size:14px;">
                <ul style="padding-left:15px;">
                    <li style="list-style-type:none;">{if $lan=='en'}Tel: 0755-83957712{else /}电话 0755-83957712 {/if}</li>
                    <li style="list-style-type:none;">{if $lan=='en'}Fax: 0755-83957713{else /}传真 0755-83957713 {/if} </li>
                    <li style="list-style-type:none;">{if $lan=='en'}Phone: 13728653331{else /}手机 13728653331 {/if}</li>
                    <li style="list-style-type:none;">QQ 163790 </li>
                </ul>
            </div>

        </div>



    </div>



    <div class="right_box">
            <div class="top_box"></div>
            <div class="main_box">
                <!------------------------>
                <div class="contact_box" >

                    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <tr>
                            <td height="54" align="center" valign="middle"><span  style="font-size:18px; font-weight:bold;">代理品牌</span>
                                <hr style=" color:#999999; margin-top:10px;"></td>
                        </tr>
                        <tr>
                            <td height="253" align="left" valign="top"  ><div style="line-height:200%; font-family:"微软雅黑","宋体"; ">
                                <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top" ><img src="/static/assets/front/images/brands/1.jpg" alt="Altera" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">Altera公司一直都在可编程系统级芯片(SOPC)领域中处于前沿和领先的地位。Altera将其早在1983年发明的可编程逻辑技术与软件工具、IP和设计服务相结合，向全世界近14,000家客户提供超值的可编程解决方案。Altera业界领先的FPGA，CPLD和结构化ASIC 产品已经获得传统市场的广泛接受，并且迅速进入许多新的应用领域。</div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.altera.com/" target="_blank">http://www.altera.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/2.jpg" alt="德州仪器?(TI)" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    德州仪器 (TI) 是全球领先的数字信号处理与模拟技术半导体供应商。自1982年以来，TI成为数字信号处理（DSP）解决方案全球的领导厂商及先驱，为全球超过30,000个客户提供创新的DSP和混合信号/模拟技术，应用领域涵盖无线通讯、宽带、网络家电、数字马达控制与消费类市场。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.ti.com.cn/" target="_blank">http://www.ti.com.cn/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/3.gif" alt="National?Semiconductor?Corporation美国国家半导体公司" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    National Semiconductor Corporation美国国家半导体公司,世界老牌半导体厂商之一。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.national.com/" target="_blank">http://www.national.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/4.gif" alt="Motorola?Semiconductor?Products?Inc" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    Motorola Semiconductor Products Inc.摩托罗拉半导体，以数字逻辑器件、模拟和接口器件、通信及功率器件、各类微处理器、存储器电路为主。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.motorola.com/" target="_blank">http://www.motorola.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/5.gif" alt="Maxim?Integrated?Products?MAX" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    Maxim Integrated Products MAX系列产品,从模拟电路到数字电路。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.maxim-ic.com/" target="_blank">http://www.maxim-ic.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/6.gif" alt="Analog?Devices?ADI" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    Analog Devices ADI，美国模拟器件公司，国际上著名的高精度模拟电路制造商之一， 生产有线性电路、混合信号电路、各类数据转换及放大处理电路等。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.analog.com/" target="_blank">http://www.analog.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/7.gif" alt="Linear?Technology" width="120" height="42" border="1"><br></td>
                                                <td width="575" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    Linear Technology 美国LTC公司，国际著名的高精度模拟电路制造商之一,生产线性电路、 混合信号电路、各类数据转换及放大处理电路。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.linear.com/" target="_blank">http://www.linear.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/8.gif" alt="IDT" width="120" height="42" border="1"><br></td>
                                                <td width="540" align="left" valign="top"><div style="font-size:16px !important; line-height:200%">
                                                    IDT 主要产品有：高速SRAM,RISC,网络通信(ATM)电路等。
                                                </div></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="left" valign="top">&nbsp;</td>
                                                <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="http://www.idt.com/" target="_blank">http://www.idt.com/</a></td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td width="140" height="84" align="left" valign="top"><img src="/static/assets/front/images/brands/9.jpg" alt="IDT" width="120" height="42" border="1"><br></td>
                                                    <td width="540" align="left" valign="top"><div style="font-size:16px !important; line-height:200%"> XILINX (赛灵思)是全球领先的可编程逻辑完整解决方案的供应商。Spartan系列当前主流的芯片包括:
                                                        Spartan-2，Spartan-2E，Spartan-3， Spartan-3A，
                                                        Spartan-3E，Spartan-6等种类。Virtex-6 、Virtex-5、Virtex-4、Virtex-II Pro和Virtex-II系列FPGA产品引领现场可编程门阵列行业。 </div></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="left" valign="top">&nbsp;</td>
                                                    <td align="right" valign="top" style="font-size:16px !important; line-height:200%"><a href="https://www.xilinx.com/" target="_blank">https://www.xilinx.com/</a></td>
                                                </tr>
                                                <tr>
                                                    <td height="22" colspan="2" align="left" valign="top">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table></td>
                                    </tr>
                                    </tbody>
                                </table>
                </div></td>
                </tr>
                </table>

            </div>
            <!------------------------>
        </div>
        <div class="foot_box"></div>
    </div>

</div>


<!-----------------middle1------------------>





